body{
font-family: Arial, Helvetica, sans-serif;
background:#f4f4f4;
margin:0;
}

/* HEADER */

.topo{
background:#2b7cff;
color:white;
text-align:center;
padding:30px;
}

/* CONTAINER */

.cadastro-container{
width:420px;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

/* FORM */

form{
display:flex;
flex-direction:column;
}

h2{
margin-top:20px;
color:#333;
}

/* CAMPOS */

label{
margin-top:10px;
font-weight:bold;
}

input, select, textarea{
margin-top:5px;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
font-size:14px;
}

textarea{
resize:none;
height:80px;
}

/* BOTÃO */

button{
margin-top:20px;
background:#2b7cff;
color:white;
border:none;
padding:12px;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1a5ed8;
}